<label>
  <input type="radio" name="thing" value='one'checked>
  One
</label>
<br>
<label>
  <input type="radio" name="thing" value='two'checked>
  Two
</label>
<br>
<label>
  <input type="radio" name="thing" value='three'checked>
  Three
</label>
<br>
<label>
  <input type="radio" name="thing" value='four'checked>
  Four
</label>
<br>
<div>Currently selected: {{selection}}</div>